################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/1.6/Source/Axolotl CE Patch/.vs/Axolotl CE Patch/CopilotIndices/17.14.1368.60722
/1.6/Source/Axolotl CE Patch/.vs
/1.6/Source/Axolotl CE Patch/obj
/1.6/Source/AxolotlCE/.vs
/1.6/Source/AxolotlCE/obj
